.container{
    display:flex;
    flex-direction: row-reverse;
    /* justify-content: end; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    border:20px solid black;
    height: 90vh;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;

}
.box{
    height: 150px;
    width: 150px;
    font-size: 8em;
    text-align: center;

}
#box1{
    background-color: pink;
}
#box2{
    background-color: brown;
}
    
#box3{
    background-color: yellow;
}
#box4{
        background-color: green;
}